<!DOCTYPE>
<html ng-app>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <title>Teste App</title>
  </head>
  <body>
    <h1> This is an test </h1>

    <input ng-model = "test">
    {{test}}

    <script type="text/javascript" src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></<script>

    </script>

  </body>
</html>
